.container{
    height: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.page__container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    height: 75%;
}
.card{
    max-height: 300px;
    padding: 8px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #79c2d0;
    border-radius: 20px;
    box-shadow: 0 3px 1px -2px  #9ebfc4, 0 2px 2px 0  #9ebfc4, 0 1px 5px 0 #9ebfc4;
}
.img__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    border-radius: 10px;
}
.img__container img{
    min-width: 95%;
    min-height: 95%;
    max-width: 95%;
    max-height: 95%;
    width: 95%;
    height: 95%;
    border-radius: 10px;
}
.info__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page__nav{
    margin: 0;
}
 .page__nav button{
    margin: 0 2px;
    background-color: #5585b5;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #53a8b6;
    box-shadow: 0 3px 1px -2px #466e96, 0 2px 2px 0 #466e96, 0 1px 5px 0 #466e96;
}
.page__nav button:active {
    box-shadow: 0 4px 2px -3px #466e96, 0 4px 5px 1px #466e96, 0 2px 7px 1px #466e96;
  }
.page__nav button img{
    margin: 0;
    width: 10px;
    height: 10px;
}
.link__card{
    text-decoration: none;
    color: black;
}